:root {
  //dark
  --color-dark: #323854;
  --color-dark-grey: #79747f;
  --color-dark-violet: #7362bc;
  --color--dark-blue: #008aff;
  --color--blue: #d8ecff;
  //border
  --color--border: #c8c5cd;
  --color-border-grey: #ececec;
  --color-border-header: #f6f6fe;
  --color-border-card: #fff1cb;

  // background
  --color-background: #f5f5f5;
  --color-background-2: #fdfdff;
  --color-violet-light: #eeeeff;
  --color-violet: #decfff;
  --color-btn-violet: #8d7fc7;
  --color-white: #fff;

  //lesson
  --color-lesson-fill: #d7f0d6;
  --color-lesson-stroke: #bbe7b9;
  --color-success: #22782b;

  // alert
  --color-alert: #e12828;
}
